@charset "utf-8";

/* business.css
------------------------------------------------ */

/* global navi */
#business-estate .nav_global_about01 a,
#business-interiors .nav_global_about02 a,
#business-trade .nav_global_about04 a,
#business-fact-link .nav_global_about06 a {
	background-position: top right;
}

/* contents */

/* estate */
#businessCnt .index_section_main {
	margin-top: 30px;
}

/* interiors */
#businessCnt .interior-flow li {
	margin-bottom: 20px;
}
#businessCnt .results-btn,
#businessCnt .results-tab {
	margin-top: 20px;
}
#businessCnt .results-btn li,
#businessCnt .results-tab li {
	float: left;
}
#businessCnt .results-btn li {
	margin-right: 20px;
}
#businessCnt .results-btn a,
#businessCnt .results-tab a {
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: top left;
}
#businessCnt .results-btn a {
	width: 230px;
	height: 45px;
}
#businessCnt .results-tab a {
	width: 243px;
	height: 50px;
}
#businessCnt .results-btn a:hover,
#businessCnt .results-tab a:hover,
#businessCnt .results-tab a.current {
	background-position: left bottom;
}

#businessCnt .results-btn .btn01 a {
	background-image: url(../../business/images/interiors_btn01.png);
}
#businessCnt .results-btn .btn02 a {
	background-image: url(../../business/images/interiors_btn02.png);
}
#businessCnt .results-btn .btn03 {
	margin-right: 0;
}
#businessCnt .results-btn .btn03 a {
	background-image: url(../../business/images/interiors_btn03.png);
}

#businessCnt .results-tab .tab01 a {
	width: 244px;
	background-image: url(../../business/images/interiors_tab01.png);
}
#businessCnt .results-tab .tab02 a {
	background-image: url(../../business/images/interiors_tab02.png);
}
#businessCnt .results-tab .tab03 a {
	background-image: url(../../business/images/interiors_tab03.png);
}
#businessCnt .results dt {
	margin: 30px 0 15px;
	padding-left: 10px;
	padding-bottom: 8px;
	border-bottom: dotted 1px #ccc;
	background: url(../images/icon_list02.png) no-repeat 0 10px;
	font-weight: bold;
	font-size: 1.3em;
}


/* trade */
#businessCnt .trade-flow li {
	margin-bottom: 20px;
}
#businessCnt .trade-tab {
	margin-top: 20px;
}
#businessCnt .trade-tab li {
	float: left;
}
#businessCnt .trade-tab a {
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: top left;
}
#businessCnt .trade-tab a {
	width: 243px;
	height: 50px;
}
#businessCnt .trade-tab a:hover,
#businessCnt .trade-tab a.current {
	background-position: left bottom;
}
#businessCnt .trade-tab .tab01 a {
	width: 244px;
	background-image: url(../../business/images/trade_tab01.png);
}
#businessCnt .trade-tab .tab02 a {
	background-image: url(../../business/images/trade_tab02.png);
}
#businessCnt .trade-tab .tab03 a {
	background-image: url(../../business/images/trade_tab03.png);
}
#businessCnt .trade-summary {
	margin-top: 30px;
	padding: 15px;
	border: solid 1px #cc0000;
	color: #cc0000;
	font-size: 1.2em;
}
#businessCnt .trade-attention {
	margin-top: 15px;
	padding: 10px;
	background: #eee;
	color: #666;
}
#businessCnt .trade-attention p {
	margin-left: 1em;
	text-indent: -1em;
}
#businessCnt .trade-contact dt {
	margin: 30px 0 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom: dotted 1px #ccc;
	background: url(../images/icon_list02.png) no-repeat 0 7px;
	font-weight: bold;
}
#businessCnt .trade-step {
	margin-top: 20px;
	padding-right: 20px;
	background: url(../../business/images/trade_step_bg.png) repeat-y top right;
}
#businessCnt .trade-step .num {
	float: left;
	width: 70px;
	padding-bottom: 20px;
	margin-right: 15px;
}
#businessCnt .trade-step .txt {
	float: left;
	width: 600px;
	padding: 15px 0;
}
#businessCnt .trade-step h5 {
	margin-bottom: 10px;
}
#businessCnt .trade-step .inline li {
	float: left;
	margin-right: 20px;
}
#businessCnt .trade-step .exp dt {
	margin-top: 15px;
	padding-left: 10px;
	background: url(../images/icon_list02.png) no-repeat 0 7px;
	font-weight: bold;
}
#businessCnt .trade-step .exp dd {
	margin-left: 10px;
}
#businessCnt .trade-results {
	margin: 20px 0;
	width: 730px;
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
}
#businessCnt .trade-results th,
#businessCnt .trade-results td {
	padding: 10px 15px;
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
}
#businessCnt .trade-results th {
	width: 50%;
	background: #eee;
	font-weight: bold;
	text-align: center;
}

/* fact-link */
#businessCnt .fact-link-bnr {
	width: 300px;
	margin: 30px 0 0 200px;
}
#businessCnt .fact-link-bnr a {
	display: block;
	width: 300px;
	height: 80px;
	background: url(../../business/images/factlink_bnr.png) no-repeat top left;
	text-indent: -9999px;
}
#businessCnt .fact-link-bnr a:hover {
	background-position: top right;
}




