@charset "utf-8";

/* font_small.css */

/* fontstyle */
body,td,th {
	font-size:10px;
	line-height:1.5;
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro w3","Hiragino Kaku Gothic Pro","Osaka","ＭＳ Ｐゴシック","MS P Gothic","Arial",sans-serif;
}
/* for IE */
body {font-size:70%\9;}
body th,body td {font-size:85%\9;}
body:not(:target) {font-size:70%\9 !important;}
body:not(:target) th {font-size:85%\9 !important;}
body:not(:target) td {font-size:85%\9 !important;}
* html body {font-size:70%;}
* html body th {font-size:70% !important;}
* html body td {font-size:70% !important;}
*:first-child+html body {font-size:70%;}
*:first-child+html body th {font-size:70%;}
*:first-child+html body th {font-size:70%;}
h1,h2,h3,h4,h5,h6 {
	font-size:85%;
	font-weight:normal;
}

.contents_fontmenu_nav01 a {
	background-position:0 21px !important;
}
.contents_fontmenu_nav02 a {
	background-position:0 0 !important;
}
.contents_fontmenu_nav03 a {
	background-position:0 0 !important;
}

.search_pagenav ul li small{
	font-size:100%;
	letter-spacing:-2px;
}
