@charset "utf-8";

/* global.css */

/* ------------------------------
+ link
+ body
+ header
+ footer
+ contents
+ scrollbar
------------------------------ */


/* link */
a:link {color:#000; text-decoration:none;}
a:visited {color:#000; text-decoration:none;}
a:hover {color:#666; text-decoration:underline;}
a:active {color:#c00; text-decoration:underline;}

/* link_detail */
.search_nav_table label:hover {color:#666; text-decoration:none;}
.index_section_detail a:hover,
.search_list_map_nav label:hover img {
	cursor:pointer !important;
	filter:alpha(opacity=80);
	-ms-filter:"alpha(opacity=80)";
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	opacity:0.8;
}


/* body */
body {
	background:url(../images/body_bg.png) repeat-x 0 0;
	color:#191919;
	text-align:center;
}
#container {
	width:980px;
	margin:0 auto;
	text-align:left;
}
#section_global {
	float:left;
	width:200px;
}
#section_contents {
	float:right;
	width:730px;
}

/* header */
#header {
}
#header #sitelogo {
	width:200px;
	height:110px;
}
#header #sitelogo a {
	display:block;
	width:200px;
	height:110px;
	background:url(../images/header_siteid.png) repeat 0 0;
	text-indent:-9999px;
}
#header #header_area {
	width:200px;
	height:178px;
	background:url(../images/header_area_vietnam.png) repeat 0 0;
	text-indent:-9999px;
}
#header dl {
	padding:10px;
	background-color:#191919;
	color:#fff;
	font-weight:bold;
	line-height:1.1;
}
#header dl dt {
	display:inline-block;
	*display:inline;
	*zoom:1;
}
#header dl dd {
	display:inline-block;
	*display:inline;
	*zoom:1;
}

/* header - nav_global */
#nav_global {
	margin-top:-5px;
}
#nav_global a:hover {
	background-position:200px 0 !important;
}
#nav_global ul {
}
#nav_global .area_title {
	width:200px;
	height:45px;
	margin-top:20px;
	background-repeat:repeat;
	background-position:0 0;
	text-indent:-9999px;
}
#nav_global #nav_global_search.area_title {
	height:42px;
	background-image:url(../images/nav_global_search_ttl.png);
}
#nav_global #nav_global_factory.area_title {
	background-image:url(../images/nav_global_factory_ttl.png);
}
#nav_global #nav_global_office.area_title {
	background-image:url(../images/nav_global_office_ttl.png);
}
#nav_global #nav_global_residence.area_title {
	background-image:url(../images/nav_global_residence_ttl.png);
}
#nav_global #nav_global_about.area_title {
	height:60px;
	background-image:url(../images/nav_global_about_ttl.png);
}
#nav_global li a {
	display:block;
	width:200px;
	height:38px;
	background-repeat:repeat;
	background-position:0 0;
	text-indent:-9999px;
}
.nav_global_factory01 a {
	background-image:url(../images/nav_global_factory_btn01.png);
}
.nav_global_factory02 a {
	background-image:url(../images/nav_global_factory_btn02.png);
}
.nav_global_factory03 a {
	background-image:url(../images/nav_global_factory_btn03.png);
}
.nav_global_factory04 a {
	background-image:url(../images/nav_global_factory_btn04.png);
}
.nav_global_office01 a {
	background-image:url(../images/nav_global_office_btn01.png);
}
.nav_global_office02 a {
	background-image:url(../images/nav_global_office_btn02.png);
}
.nav_global_office03 a {
	background-image:url(../images/nav_global_office_btn03.png);
}
.nav_global_office04 a {
	background-image:url(../images/nav_global_office_btn04.png);
}
.nav_global_office05 a {
	background-image:url(../images/nav_global_office_btn05.png);
}
.nav_global_office06 a {
	background-image:url(../images/nav_global_office_btn06.png);
}
.nav_global_residence01 a {
	background-image:url(../images/nav_global_residence_btn01.png);
}
.nav_global_residence02 a {
	background-image:url(../images/nav_global_residence_btn02.png);
}
.nav_global_residence03 a {
	background-image:url(../images/nav_global_residence_btn03.png);
}
.nav_global_residence04 a {
	background-image:url(../images/nav_global_residence_btn04.png);
}
.nav_global_residence05 a {
	background-image:url(../images/nav_global_residence_btn05.png);
}
.nav_global_residence06 a {
	background-image:url(../images/nav_global_residence_btn06.png);
}
.nav_global_about01 a {
	background-image:url(../images/nav_global_about_btn01.png);
}
.nav_global_about02 a {
	background-image:url(../images/nav_global_about_btn02.png);
}
.nav_global_about03 a {
	background-image:url(../images/nav_global_about_btn03.png);
}
.nav_global_about04 a {
	background-image:url(../images/nav_global_about_btn04.png);
}
.nav_global_about05 a {
	background-image:url(../images/nav_global_about_btn05.png);
}
.nav_global_about06 a {
	background-image:url(../images/nav_global_about_btn06.png);
}
#nav_global li.last {
	border-bottom: solid 1px #7F7F7F;
}
#nav_global li.last a {
	height: 37px;
}

/* header - nav_global_sub */
#nav_global_sub {
	margin:10px 0 0;
}
#nav_global_sub li {
	float:left;
}
#nav_global_sub a {
	float:left;
	display:block;
	height:13px;
	background-repeat:repeat;
	background-position:0 0;
	text-indent:-9999px;
	line-height:13px;
}
#nav_global_sub a:hover {
	background-position:0 13px;
}
.nav_global_sub01 {
	width:59px;
}
.nav_global_sub01 a {
	width:41px;
	background-image:url(../images/nav_global_sub01.png);
}
.nav_global_sub02 {
	width:80px;
}
.nav_global_sub02 a {
	width:61px;
	background-image:url(../images/nav_global_sub02.png);
}
.nav_global_sub03 a {
	width:61px;
	background-image:url(../images/nav_global_sub03.png);
}
#nav_global_guide a {
	display:block;
	width:200px;
	height:75px;
	margin-top:20px;
	background:url(../images/nav_global_guide.png) repeat 0 0;
	text-indent:-9999px;
}
#nav_global_guide a:hover {
	background-position:200px 0;
}
#nav_global_calendar a {
	display:block;
	width:200px;
	height:45px;
	margin-top:10px;
	background:url(../images/nav_global_calendar.png) repeat 0 0;
	text-indent:-9999px;
}
#nav_global_calendar a:hover {
	background-position:200px 0;
}
#nav_global_support a {
	display:block;
	width:200px;
	height:80px;
	margin-top:20px;
	background:url(../images/nav_global_support.png) repeat 0 0;
	text-indent:-9999px;
}
#nav_global_support a:hover {
	background-position:200px 0;
}
#nav_global_factlink a {
	display:block;
	width:200px;
	height:80px;
	margin-top:20px;
	background:url(../images/nav_global_factlink.png) repeat 0 0;
	text-indent:-9999px;
}
#nav_global_factlink a:hover {
	background-position:200px 0;
}
#nav_global_thai100 a {
	display:block;
	width:200px;
	height:80px;
	margin-top:20px;
	background:url(../images/nav_global_thai100.png) repeat 0 0;
	text-indent:-9999px;
}
#nav_global_thai100 a:hover {
	background-position:200px 0;
}
#nav_global_search_box {
	width: 200px;
	margin-top: 15px;
}
#nav_global_search_box .search-box {
}
#nav_global_search_box .search-box-input {
	width: 127px;
	padding: 9px 9px 8px 9px;
	border: solid 1px #a0a0a0;
	margin-right: 8px;
	float: left;
}
#nav_global_search_box .btn-image {
	float: left;
	display: inline-block;
}
#nav_global_search_box:after,
#nav_global_search_box .search-box-input:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0;
	line-height:0;
}


/* header - aside_column */
.aside_column_news {
	width:200px;
	height:22px;
	margin-top:20px;
	background:url(../images/aside_column_news_ttl.png) repeat 0 0;
	text-indent:-9999px;
}
.aside_column_info {
	width:200px;
	height:22px;
	margin-top:20px;
	background:url(../images/aside_column_info_ttl.png) repeat 0 0;
	text-indent:-9999px;
}
.aside_column_backnumber a {
	display:block;
	width:200px;
	height:13px;
	background:url(../images/aside_column_btn_backnumber.png) repeat-y 100% 0;
	text-indent:-9999px;
	line-height:13px;
}
.aside_column_backnumber a:hover {
	background-position:100% 13px;
}
.aside_column {
	height:10.5em;
	margin:5px 0 5px;
}
.aside_column dl {
	margin-right:5px;
	padding:7px 0;
	border-bottom:1px dotted  #7f7f7f;
	line-height:1.3;
}
.aside_column dl dt {
	padding-left:7px;
	background:url(../images/icon_arrow01.png) no-repeat 0 50%;
	font-size:0.85em;
	font-weight:bold;
	word-break:break-all;
}
.aside_column dl dd {
	padding:3px 0 0 7px;
}
.aside_column dt.new span {
	padding-right:31px;
	background:url(../images/icon_new.png) no-repeat 100% 50%;
}

/* header - aside_column_facebook */
.aside_column_facebook_ttl {
	width:200px;
	height:22px;
	margin-top:20px;
	background:url(../images/aside_column_facebook_ttl.png) repeat 0 0;
	text-indent:-9999px;
}
.aside_column_facebook {
/*	border:1px solid #191919; */
	border-top:0;
}


/* footer */
#footer {
	clear:both;
	padding:170px 0 20px;
	background:url(../images/footer_bg.png) repeat-x 50% 0;
	background-color:#000;
}
#footer_inner {
	width:980px;
	margin:0 auto;
	text-align:left;
}
#footer ul {
}
#footer li {
	float:left;
	padding:20px 22px 20px 0;
}
#footer li a {
	float:left;
	display:block;
	height:13px;
	background-repeat:repeat-y;
	background-position:0 0;
	text-indent:-9999px;
	line-height:13px;
}
#footer li a:hover {
	background-position:0 13px;
}
#footer li.footer_nav01 a {
	width:65px;
	background-image:url(../images/footer_btn01.png);
}
#footer li.footer_nav02 a {
	width:65px;
	background-image:url(../images/footer_btn02.png);
}
#footer li.footer_nav03 a {
	width:65px;
	background-image:url(../images/footer_btn03.png);
}
#footer li.footer_nav04 a {
	width:45px;
	background-image:url(../images/footer_btn04.png);
}
#footer li.footer_nav05 a {
	width:87px;
	background-image:url(../images/footer_btn05.png);
}
#footer li.footer_nav06 a {
	width:60px;
	background-image:url(../images/footer_btn06.png);
}
#footer li.footer_nav07 a {
	width:76px;
	background-image:url(../images/footer_btn07.png);
}
#footer li.footer_nav08 a {
	width:130px;
	background-image:url(../images/footer_btn08.png);
}
#footer li.footer_nav09 a {
	width:82px;
	background-image:url(../images/footer_btn09.png);
}
#footer li.footer_nav10 a {
	width:58px;
	background-image:url(../images/footer_btn10.png);
}
#footer .index_bnr {
    text-align: center;
    margin: 0 auto 10px;
}
#footer .index_bnr dl {
    display: inline-block;
    margin: 0 5px;
}
#footer .index_bnr dl dd a {
    display: block;
    padding: 5px 10px;
    border-bottom: solid 1px #fff;
    text-align: left;
    background: url(../images/arrow_footer.png) no-repeat 97% center;
}
#footer .index_bnr dl a {
    color: #fff;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all .2s;
    transition: all .2s;
}
#footer .index_bnr dl a:hover {
    filter: alpha(opacity=70);
    -moz-opacity:0.70;
    opacity:0.70;
    text-decoration: none;
}
#footer .info {
	color: #fff;
	clear: both;
	margin-bottom: 5px;
	text-align: center;

}
#copyright {
	clear:both;
	height:12px;
	background:url(../images/footer_copyright.png) repeat 0 0;
	text-indent:-9999px;
	line-height:12px;
}

/* contents */

/* contents - header */
.contents_header {
	overflow:hidden;
	_zoom:1;
	height:40px;
	padding:3px 0 0;
}
.contents_header a {
	display:block;
	height:21px;
	background-repeat:repeat;
	background-position:0 0;
	text-indent:-9999px;
}
.contents_header a:hover {
	background-position:0 21px;
}
/* contents - contents_nav */
.contents_nav {
	float:left;
	padding-left:455px;
	overflow:hidden;
	_zoom:1;
}
.contents_nav li {
	float:left;
	padding-right:15px;
}
.contents_nav li a {
	float:left;
}
li.contents_nav01 a {
	width:35px;
	background-image:url(../images/contents_nav_btn01.png);
}
li.contents_nav02 a {
	width:56px;
	background-image:url(../images/contents_nav_btn02.png);
}
/* contents - fontmenu */
dl.contents_fontmenu {
	float:right;
	overflow:hidden;
	_zoom:1;
	width:150px;
}
dl.contents_fontmenu dt,
.contents_fontmenu li,
.contents_fontmenu li a {
	float:left;
}
dl.contents_fontmenu dt {
	width:72px;
	height:21px;
	background:url(../images/contents_fontmenu_ttl.png) repeat 0 0;
	text-indent:-9999px;
}
li.contents_fontmenu_nav01 a {
	width:27px;
	background-position:0 0;
	background-image:url(../images/contents_fontmenu_btn01.png);
}
li.contents_fontmenu_nav02 a {
	width:25px;
	background-position:0 21px;
	background-image:url(../images/contents_fontmenu_btn02.png);
}
li.contents_fontmenu_nav03 a {
	width:26px;
	background-position:0 0;
	background-image:url(../images/contents_fontmenu_btn03.png);
}
/* contents - header_inquiry */
.contents_header_inquiry {
	clear:both;
	display: flex;
	overflow:hidden;
	_zoom:1;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	border: 1px solid #7f7f7f;
}
.flex-item {
    color: white;
    font-weight: bold;
    text-align: center;
    flex: 1 100%;
}
.d-flex {
	display: flex;
}
.contents_header_inquiry_contact {
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.contents_header_inquiry_ttl {
	align-items: center;
	background-color: #000;
	color: #fff;
	align-self: stretch;
    font-size: 16px;
    padding: 10px;
}
.contents_header_inquiry ul {
	overflow:hidden;
	_zoom:1;
	font-size: 14px;
}
.contents_header_inquiry ul li {
}
.contents_header_inquiry ul li.contents_header_inquiry_tel01,
.contents_header_inquiry ul li.contents_header_inquiry_tel02 {
	color: #000;
	text-align: left;
    font-size: 16px;
}

.contents_header_inquiry p a {
	display:block;
	width:180px;
	height:37px;
	background:url(../images/contents_header_inquiry_btn01.png) repeat 0 0;
	text-indent:-9999px;
}
.contents_header_inquiry p a:hover {
	background-position:0 37px;
}
/* contents - header_facebook */
.contents_header_facebook {
	margin-top:11px;
	margin-bottom:25px;
	overflow:hidden;
	_zoom:1;
}
.contents_header_facebook dl {
	float:right;
	overflow:hidden;
	_zoom:1;
}
.contents_header_facebook dt {
	float:left;
	width:147px;
	height:15px;
	background:url(../images/contents_header_facebook_ttl.png) no-repeat 0 0;
	text-indent:-9999px;
}
.contents_header_facebook dd {
	float:left;
}
/* contents - contents_inquiry */
.contents_inquiry {
	margin-top:50px;
	border:1px solid #000;
}
.contents_inquiry h3 {
	width:728px;
	height:34px;
	background:url(../images/contents_footer_inquiry_ttl.png) no-repeat 0 0;
	text-indent:-9999px;
}
.contents_inquiry h3.detail {
	width:728px;
	height:34px;
	background:url(../images/contents_footer_inquiry_detail_ttl.png) no-repeat 0 0;
	text-indent:-9999px;
}
.contents_inquiry_detail {
	float:left;
	width:460px;
	margin:15px 0 15px 15px;
	_display:inline;
}
.contents_inquiry h4 {
	width:460px;
	height:22px;
	background:url(../images/contents_footer_inquiry_txt01.png) no-repeat 0 0;
	text-indent:-9999px;
}
.contents_inquiry ul li {
	float:left;
}
.contents_inquiry_tel01 {
	width:145px;
	height:45px;
	background:url(../images/contents_footer_inquiry_tel01.png) no-repeat 0 0;
	text-indent:-9999px;
}
.contents_inquiry_tel02 {
	width:180px;
	height:45px;
	background:url(../images/contents_footer_inquiry_tel02.png) no-repeat 0 0;
	text-indent:-9999px;
}
.contents_inquiry_tel03 {
	width:135px;
	height:45px;
	background:url(../images/contents_footer_inquiry_tel03.png) no-repeat 0 0;
	text-indent:-9999px;
}
.contents_inquiry p {
	float:right;
	width:220px;
	margin:15px 15px 15px 0;
	_display:inline;
}
.contents_inquiry p a {
	float:right;
	display:block;
	width:220px;
	height:67px;
	background:url(../images/contents_footer_inquiry_btn01.png) repeat 0 0;
	text-indent:-9999px;
}
.contents_inquiry p a:hover {
	background-position:0 67px;
}

/* topicpath */
#topicpath {
	overflow:hidden;
	_zoom:1;
	margin-bottom:30px;
	padding:5px 10px;
	background:url(../images/topicpath_bg.png) repeat 0 0;
}
#topicpath li {
	float:left;
	padding:0 12px 0 15px;
	background:url(../images/icon_topicpath.gif) no-repeat 0 50%;
	font-size:0.9em;
}
#topicpath li.home {
	padding-left:0;
	background-image:none;
}
#topicpath li a {
	text-decoration:underline;
}
#topicpath li a:hover {
	text-decoration:none;
}


/* ===== scrollbar start/ ===== */
.scrollbar {
	overflow:auto;
}
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
	background: red;
}
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspVerticalBar *,.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}
.jspCap {
	display: none;
}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspTrack {
	background: #d2d2d2;
	position: relative;
}
.jspDrag {
	background: #969696;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}
/* ===== /end scrollbar ===== */


.cse .gs-result .gs-snippet, .gs-result .gs-snippet, .cse .gs-spelling-original, .gs-spelling-original{
	font-size:11px !important;
}