@charset "utf-8";

/* company.css
------------------------------------------------ */

#sitemapCnt .colL {
	float: left;
	width: 350px;
}
#sitemapCnt .colR {
	float: right;
	width: 350px;
}
#sitemapCnt li {
	margin-bottom: 20px;
	padding: 0;
	background: none;
	border-bottom: dotted 1px #ddd;
}
#sitemapCnt div li a {
	color: #333;
	display: block;
	padding: 5px 0 5px 20px;
	background: url(../images/icon_arrow02.png) no-repeat 5px 11px;
	text-decoration: none;
}
#sitemapCnt div li a:hover {
	background: url(../images/icon_arrow02_on.png) no-repeat 7px 11px;
}
#sitemapCnt div li li {
	margin-bottom: 0;
	border-bottom: none;
}
#sitemapCnt div li ul {
	border-top: dotted 1px #ddd;
}
#sitemapCnt div li li a {
	padding-left: 25px;
	background: url(../images/icon_arrow01.png) no-repeat 15px 13px;
}
#sitemapCnt div li li a:hover {
	background: url(../images/icon_arrow01.png) no-repeat 17px 13px;
	color: #c00;
}

